NEXT_PUBLIC_SUPABASE_URL=https://gjlqkzzpiocdpwdhshsj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdqbHFrenpwaW9jZHB3ZGhzaHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2NzIwNDUsImV4cCI6MjA3MzI0ODA0NX0.ciKpiwYsiS0eJkbhBgca-BTg5ityay63I2GryXgT2o8